{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="../../assets/dist/output.css">
{% endblock %}

{% block title %}Ajout d'un forum{% endblock %}

{% block body %}
<div class="flex items-center justify-center h-screen bg-white">
    <div class="w-full max-w-md p-8 space-y-4 bg-gray-100 rounded-lg shadow-2xl">
        <h2 class="text-3xl font-bold text-center">Ajout d'un forum</h2>

        {{ form_start(forumForm) }}
            {{ form_row(forumForm.name) }}
            {{ form_row(forumForm.videogame) }}
            {{ form_row(forumForm.tags) }}
            {{ form_row(forumForm.settings) }}
            <button type="submit">Soumettre</button>
        {{ form_end(forumForm) }}

    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
</script>
{% endblock %}



